.board {
  width: 90%;
  margin: 0 auto;
}

.wrapper-board {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .wrapper-board {
    flex-wrap: wrap;
  }
}