.card {
  width: 100%;
  border: 1px solid lightgray;
}
.card-header {
  width: 100%;
  height: 40px;
}
h2 {
  padding-top: 10px;
  color: white;
}
.card-content {
  width: 100%;
  margin-top: 16px;
}

.task {
  width: 90%;
  margin: 0 auto;
  border: 1px solid lightgray;
  min-height: 150px;
}

.task-title {
  height: auto;
  border: 1px solid lightgrey;
}
.task-action {
  margin-top: 40px;
}
.divider {
  margin-bottom: 16px;
}